.slider__slide
{
    min-height: 190px;
    width: 85%;
    padding: 10px;
   
    display: none;
    margin-left: -50px;

    background: #b8b8b8;     
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);   
}

.slider__slide_state_active
{
    display: block;
}